<p>List of liverpool players in 2023</p>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td colspan="2">Alisson Becker</td>
        <td>1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td colspan="2">Joe Gomez</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Endo Wataru</td>
        <td>3</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td colspan="2">Virgil van Dijk</td>
        <td>4</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td colspan="2">Ibrahima Konaté</td>
        <td>5</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td colspan="2">Thiago Alcântara</td>
        <td>6</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td colspan="2">Luis Díaz</td>
        <td>7</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td colspan="2">Dominik Szoboszlai</td>
        <td>8</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td colspan="2">Darwin Núñez</td>
        <td>9</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td colspan="2">Alexis Mac Allister</td>
        <td>10</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td colspan="2">Mohamed Salah</td>
        <td>11</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td colspan="2">Curtis Jones</td>
        <td>17</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td colspan="2">Cody Gakpo</td>
        <td>18</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td colspan="2">Harvey Elliott</td>
        <td>19</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td colspan="2">Trent Alexander-Arnold</td>
        <td>66</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td colspan="2">Diogo Jota</td>
        <td>20</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td colspan="2">Andrew Robertson</td>
        <td>26</td>
      </tr>
    </tbody>
  </table>